modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Angular Dev Server"

[[workflows.workflow]]
name = "Angular Dev Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && NX_DAEMON=false NX_TUI=false npx nx serve daily-planning --configuration=development --host 0.0.0.0 --port 5000 --poll 2000"
waitForPort = 5000

[[ports]]
localPort = 4200
externalPort = 4200

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist/daily-planning"

[userenv]

[userenv.shared]
NX_MSAL_REDIRECT_URI = "http://localhost:4200"
NX_MSAL_AUTHORITY = "https://cubivueidentityqa.ciamlogin.com/"
NX_MSAL_CLIENT_ID = "2ee516a9-782c-440b-b794-ed4a52bbc785"
NX_BASE_DPS_URL = "https://ca-dailyplanningapi-test.ambitiousfield-e9e92f92.westeurope.azurecontainerapps.io"
